<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicaretOtomasyonu.Properties.Settings.DbETicaretConnectionString"
            connectionString="Data Source=DESKTOP-LSDB34O\SQLSERVEREXPRESS;Initial Catalog=DbETicaret;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>